.card-image.img
{
  height:150px; !important
}

.material-icons.md1::before{
  content:"search"; 
}

.material-icons.md1:hover::before{
  content:"navigate_next"; 
}

.success_msg {
  background-color:green;
  color:white;
}

.error_msg {
  color:white;
  background-color: red;
  margin-top: -50px;
}

.customText{
  max-height: 300px;
}